<h2>Penambahan product</h2>
<div>
    <label>Product Name:</label><br>
    <input type="text" [(ngModel)]="products.name">
</div>
<div>
    <label>Product Category:</label><br>
    <input type="text" [(ngModel)]="products.id_category">
</div>
<div>
    <label>Price:</label><br>
    <input type="number" [(ngModel)]="products.number">
</div>
<button (click)="addProduct()">Simpan</button>